<div class="banner" style="background-image: url('https://res.cloudinary.com/dlxksjfu3/image/upload/v1668653810/gr-stocks-q8P8YoR6erg-unsplash_bfaxfu.jpg');">
    <h1>My Lists</h1>
</div>
<div class="d-flex justify-content-evenly align-items-center mb-4 p-5" id="lists">
  <% @lists.each do |list| %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" alt="list" src=<%= cl_image_tag list.photo.key%> >
      <div class="card-body">
        <h5 class="card-title">
        <a href="<%= list_path(list.id) %>">
        <%= list.name %>
        </a>
        </h5>
        <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
    </div>
  <% end %>
</div>

<%# list.photo.key %>
