.card-title > a {
  text-decoration: none;
  color: rgb(52, 51, 51);
}

.card-title > a:hover {
  color: rgb(244, 157, 26);
}

.card-title {
  color: rgb(52, 51, 51);
  text-align: center;
}

#lists img {
height: 180px;
width: 100%;
object-fit: cover;
}

#allreview li{
background-color: transparent;
}

#newreview {
  background-color: white;
  height: 280px;
}

#newreview .btn {
  color: white;
}



.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 30px;
  font-weight: 300;
  color: #FFD600;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}

.review-rating label{
  position: relative;
  width: 1em;
  font-size: 20px;
  font-weight: 300;
  color: #FFD600;
}

.rating-color{
  color: #FFD600;
  opacity: 1;
}
